 <!-- .home-menu -->
 <nav class="home-menu">
    <a href="{{ site.baseurl }}/about" data-slug="about">
        <span class="item-name">About</span>
    </a>
    <a href="{{ site.baseurl }}/resume" data-slug="resume">
        <span class="item-name">Resume</span>
    </a>
    <a href="{{ site.baseurl }}/portfolio" data-slug="portfolio" id="portfolio-link">
        <span class="item-name">Portfolio</span>
    </a>
    <a href="{{ site.baseurl }}/blog" data-slug="blog">
        <span class="item-name">Blog</span>
    </a>
    <a href="{{ site.baseurl }}/contact" data-slug="contact">
        <span class="item-name">Contact</span>
    </a>
</nav>