<!-- SCRIPTS -->
<script src="{{ site.baseurl }}/assets/js/tween-max.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-address.js"></script>
<script src="{{ site.baseurl }}/assets/js/nprogress/nprogress.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-isotope.js"></script>
<script src="{{ site.baseurl }}/assets/js/imagesloaded.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-fitvids.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup/jquery-magnific-popup.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-easing.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-validate.js"></script>
<script src="{{ site.baseurl }}/assets/js/resize-sensor.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-sticky-sidebar.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>