<!DOCTYPE html>
<html lang="en" class="no-js one-page-layout sound-effects" data-audio-tick="audio/tick.mp3" data-click-ripple-animation="yes">
<head>
    
    {% include head.html %}
		
</head>



<body>
    {% include navbar.html %}



{{ content }}



    {% include footer.html %}
    {% include script.html %}
        

</body>
</html>




    <!-- page transition overlays -->
    <div class="overlay overlay-1"></div>
    <div class="overlay overlay-2"></div>
    <!-- page transition overlays -->





    <!-- PORTFOLIO SINGLE AJAX CONTENT CONTAINER -->
    <div class="p-overlay"></div>
    <div class="p-overlay"></div>

    
        
        
</body>
</html>